[gitbutler]
	aiModelProvider = openai
[credential]
	helper = store
[core]
	excludesfile = $HOME/.gitignore_global
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
	dark = true
	true-color = always
	features = side-by-side line-numbers decorations
	whitespace-error-style = 22 reverse
	#side-by-side = false
	minus-style = "syntax auto"
	plus-style = "syntax auto"
	syntax-theme = TwoDark
	#minus-style = red bold ul "#ffeeee"
	line-numbers = false
	navigate = true
	#line-numbers-left-format = ""
	#line-numbers-right-format = "│ "
	file-modified-label = "💥 "
[delta "decorations"]
	commit-decoration-style = purple box
	#commit-style = magenta
	file-style = bold yellow ul
	file-decoration-style = cyan ul
	hunk-header-decoration-style = purple box
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[http]
	sslVerify = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[filter "xet"]
	process = git xet filter
	required = true
