layout {
	default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "💗#[fg=#FF6A6A]ANR {mode}#[bg=#1c2428] {tabs}"
                format_center ""
                format_space  "#[bg=#1c2428]"
				format_right  "{command_git_branch} {datetime}"
                format_hide_on_overlength "false"
                format_precedence "crl"

                border_enabled  "true"
                border_char     "~"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=#a6da95,fg=#1c2428]#[bg=#a6da95,fg=#1c2428] NOR #[bg=#1c2428,fg=#a6da95]"
                mode_locked        "#[bg=#6e738d,fg=#1c2428]#[bg=#6e738d,fg=#1c2428] LOCK  #[bg=#1c2428,fg=#6e738d]"
                mode_resize        "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] RESIZE #[bg=#1c2428,fg=#F58573]"
                mode_pane          "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] PANE #[bg=#1c2428,fg=#F58573]"
                mode_tab           "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] TAB #[bg=#1c2428,fg=#F58573]"
                mode_scroll        "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] SCROLL #[bg=#1c2428,fg=#F58573]"
                mode_enter_search  "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] ENT-SEARCH #[bg=#1c2428,fg=#F58573]"
                mode_search        "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] SEARCHARCH #[bg=#1c2428,fg=#F58573]"
                mode_rename_tab    "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] RENAME-TAB #[bg=#1c2428,fg=#F58573]"
                mode_rename_pane   "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] RENAME-PANE #[bg=#1c2428,fg=#F58573]"
                mode_session       "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] SESSION #[bg=#1c2428,fg=#F58573]"
                mode_move          "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] MOVE #[bg=#1c2428,fg=#F58573]"
                mode_prompt        "#[bg=#F58573,fg=#1c2428]#[bg=#F58573,fg=#1c2428] PROMPT #[bg=#1c2428,fg=#F58573]"

                // formatting for inactive tabs
                tab_normal              "#[bg=#8bd5ca,fg=#1c2428]#[bg=#8bd5ca,fg=#1e2030] {index} #[bg=#8bd5ca,fg=#1e2030] {floating_indicator}#[bg=#1c2428,fg=#8bd5ca]"
                tab_normal_fullscreen   "#[bg=#8bd5ca,fg=#1c2428]#[bg=#8bd5ca,fg=#1e2030] {index} #[bg=#8bd5ca,fg=#1e2030] {fullscreen_indicator}#[bg=#1c2428,fg=#8bd5ca]"
                tab_normal_sync         "#[bg=#8bd5ca,fg=#1c2428]#[bg=#8bd5ca,fg=#1e2030] {index} #[bg=#8bd5ca,fg=#1e2030] {sync_indicator}#[bg=#1c2428,fg=#8bd5ca]"

                // formatting for the current active tab
                tab_active              "#[bg=#fa8072,fg=#1c2428]#[bg=#fa8072,fg=#1e2030] {index} #[bg=#fa8072,fg=#8bd5ca] {floating_indicator}#[bg=#1c2428,fg=#fa8072]"
                tab_active_fullscreen   "#[bg=#fa8072,fg=#1c2428]#[bg=#fa8072,fg=#1e2030] {index} #[bg=#fa8072,fg=#8bd5ca] {fullscreen_indicator}#[bg=#1c2428,fg=#fa8072]"
                tab_active_sync         "#[bg=#fa8072,fg=#1c2428]#[bg=#fa8072,fg=#1e2030] {index} #[bg=#fa8072,fg=#8bd5ca] {sync_indicator}#[bg=#1c2428,fg=#fa8072]"

                // separator between the tabs
                tab_separator           "#[bg=#1c2428] "

                // indicators
                tab_sync_indicator       ""
                tab_fullscreen_indicator "󰊓"
                tab_floating_indicator   "󰹙"

				notification_format_unread           "#[fg=#89B4FA,bg=#181825,blink]  #[fg=#89B4FA,bg=#181825] {message} "
				notification_format_no_notifications "#[fg=#89B4FA,bg=#181825,dim]   "
				notification_show_interval           "10"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086]{format} "
                datetime_format "%H:%M %m/%d"
                datetime_timezone "Asia/Shanghai"
            }
        }
    }
}
