layout {
    default_tab_template {
        children
		pane size=1 borderless=true {
			plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
        	    format_left  "🔥{tabs}"
                format_center "#[bg=#181926,fg=#494d64] Zellij: #[bg=#181926,fg=#494d64]{session}"
        	    format_right "#[fg=#181825,bg=#b1bbfa]{datetime}"
        	    format_space "#[bg=#181825]"
				format_hide_on_overlength "true"
                format_precedence "crl"

				border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

        	    //hide_frame_for_single_pane "true"

        	    mode_normal  "#[bg=blue] "

        	    tab_normal              "#[fg=#181825,bg=#4C4C59] #[fg=#000000,bg=#4C4C59]{index}  #[fg=#4C4C59,bg=#181825]"
        	    tab_normal_fullscreen   "#[fg=#6C7086,bg=#181825] {index} [] "
        	    tab_normal_sync         "#[fg=#6C7086,bg=#181825] {index} <> "
        	    tab_active              "#[fg=#181825,bg=#ffffff,bold,italic] {index}  #[fg=#ffffff,bg=#181825]"
        	    tab_active_fullscreen   "#[fg=#9399B2,bg=#181825,bold,italic] {index} [] "
        	    tab_active_sync         "#[fg=#9399B2,bg=#181825,bold,italic] {index} <> "

				// separator between the tabs
                tab_separator           "#[bg=#181926] "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

        	    datetime          "#[fg=#6C7086,bg=#b1bbfa,bold] {format} "
        	    datetime_format   "%H:%M"
        	    datetime_timezone "Asia/Shanghai"
        	}
		}
    }
}

